.{
    margin: 0px;
    padding: 0px;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 40px;
}
section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
